{% extends "layoutsite.html" %}
{% block body %}
 
    <div class ="jumbotron text-center" >
            <h3><strong>Adli Yargı Haritaları</strong></h3>
            <hr>
        <h4>Tüm bölgeleri gösteren haritayı için tıklayın</h4>
        <hr>                
        <iframe class="container" src="https://www.google.com/maps/d/embed?mid=1-HHfvQ4AHrp8XaR1Zgyt7l3pbDVIahIx" width="720" height="480"  frameborder="1" style="border:0"></iframe>
    </div>





        <div class ="jumbotron text-center" >
                <h4>Aşağıdaki haritada ise sadece 3,4 ve 5. bölgeler gösterilmiştir...</h4>
                <hr>
                <iframe class="container" src="https://www.google.com/maps/d/embed?mid=1n2ZXxELeaFKFrNGr0CiMGPSfaW0zF9G6"  width="720" height="480" frameborder="0"></iframe>
    </div>

  



    







    <style>
            body{
              background-color: #398B93;}
            
          </style>

{% endblock body %}